

body {
	background-color: black;
}
h1.title {
	font-size: 80px;
	font-family: 'Diplomata SC', cursive;
	color: burlywood;
	text-align: center;
	margin: 30px;
	text-shadow: 2px 2px #999;
}
h2.score {
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
	color: burlywood;
	text-align: center;
	margin: 30px;
}

.cards {
	text-align: center;
}
.bottom {
	text-align: right;
	padding: 30px;
}
.btn {
	margin-top: 30px;
	margin-right: 100px;
	background-color: burlywood;
	border-color: black;
	color: black;
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
	float: left;
}